<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxdata.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.yxdata.domain.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, tel, addr, type_id, del_flag, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yxdata.domain.User">
    insert into user (id, name, tel, 
      addr, type_id, del_flag, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{addr,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{delFlag,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yxdata.domain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxdata.domain.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxdata.domain.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAll" parameterType="com.yxdata.domain.User" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    <where>
    <if test="name != null and name !=''">
       and name like concat (#{name,jdbcType=VARCHAR}, '%')
      </if>
      <if test="tel != null and tel !=''">
        and tel like concat (#{tel,jdbcType=VARCHAR}, '%')
      </if>
      <if test="addr != null and addr !=''">
        and addr like concat (#{addr,jdbcType=VARCHAR}, '%') 
      </if>
      <if test="typeId != null">
        and type_id like concat (#{typeId,jdbcType=INTEGER}, '%')
      </if>
      <if test="delFlag != null">
        and del_flag like concat(#{delFlag,jdbcType=INTEGER}, '%')
      </if>
      <if test="remark != null and remark !=''">
        and remark like concat(#{remark,jdbcType=VARCHAR}, '%')
      </if>
    </where>
  </select>
  
</mapper>